In [ ]:
import pandas as pd
pricedf=pd.read_pickle('price_0813.pkl')
premdf=pd.read_pickle('prem_0813.pkl')
day_return=pd.read_pickle('day_return_0813.pkl')

In [4]:
pulse=(pricedf.pct_change()>=0.05)
pulse=pulse[pulse.rolling(5).sum()==1]
pulse

,s110030,s110031,s110032,s110033,s110034,s110038,s110039,s110040,s110041,s110042,...,s123117,s127038,s113626,s113051,s127039,s123118,s123119,s113627,s127040,s127041
date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
r=pd.DataFrame()
r[0]=day_return.shift(1)[pulse].unstack().reset_index()[0]
r[1]=day_return[pulse].unstack().reset_index()[0]
r[2]=day_return.shift(-1)[pulse].unstack().reset_index()[0]
r[3]=day_return.shift(-2)[pulse].unstack().reset_index()[0]
r[4]=day_return.shift(-3)[pulse].unstack().reset_index()[0]
r[5]=day_return.shift(-4)[pulse].unstack().reset_index()[0]
r['sum']=r.sum(axis=1)-r[0]
r['sum'][r[5].isna()]=np.nan
r=r.dropna(how='any')
r

               0         1         2         3         4         5       sum
2033    0.055312  0.050861 -0.001007 -0.044685  0.010480  0.025616  0.041265
2039    0.071196 -0.002471  0.009972 -0.030690 -0.016869  0.016300 -0.023758
2048    0.062496  0.051048 -0.013557  0.000000  0.000000  0.000000  0.037491
4245    0.060383 -0.030421  0.003321  0.000436 -0.019939 -0.009328 -0.055931
4908    0.094157 -0.005146 -0.000170  0.002799  0.005921  0.002186  0.005590
...          ...       ...       ...       ...       ...       ...       ...
432417  0.097711 -0.014435 -0.003255 -0.020408  0.008458 -0.006875 -0.036515
435081  0.060700 -0.018800 -0.021700 -0.003800  0.018600 -0.013900 -0.039600
435088  0.089800  0.015500  0.036000  0.001400 -0.001200 -0.034700  0.017000
435094  0.119300  0.060500  0.041100 -0.028200  0.032500  0.006800  0.112700
439490  0.098600 -0.010700 -0.007100  0.011500  0.001600  0.011000  0.006300

[2096 rows x 7 columns]

In [5]:
r.describe()

,0,1,2,3,4,5,sum
count,2096.000000,2096.000000,2096.000000,2096.000000,2096.000000,2096.000000,2096.000000
mean,0.089971,0.000830,0.000789,-0.000292,0.001073,0.001061,0.003462
std,0.070826,0.072507,0.055241,0.050567,0.056073,0.054112,0.116124
min,0.019701,-0.224136,-0.316327,-0.362006,-0.476846,-0.284516,-0.452326
25%,0.057093,-0.031859,-0.021278,-0.019774,-0.021236,-0.018704,-0.057027
50%,0.069806,-0.007883,-0.000989,-0.002085,-0.001962,-0.000995,-0.008947
75%,0.095312,0.019467,0.018354,0.015545,0.016538,0.014597,0.044620
max,1.764102,0.955056,0.539778,0.467038,0.842391,0.724077,1.072493

In [ ]:
d={}
d['price_range']=(m,n)
d['dayreturn_range']=(a,b)
d['count']=len(r)
d['mean']=r['sum'].mean()
d['median']=r['sum'].median()
l.append(d)

In [7]:
l=[]
for m,n in [(0,120),(120,150),(150,5000)]:
    for a,b in [(0.03,0.05),(0.05,0.08),(0.08,0.12),(0.12,0.15),(0.15,0.2),(0.2,10)]:
        pulse=(pricedf.pct_change()>=a)&(pricedf.pct_change()<b)&(pricedf<n)&(pricedf>m)
        pulse=pulse[pulse.rolling(5).sum()==1]
        r=pd.DataFrame()
        r[0]=day_return.shift(1)[pulse].unstack().reset_index()[0]
        r[1]=day_return[pulse].unstack().reset_index()[0]
        r[2]=day_return.shift(-1)[pulse].unstack().reset_index()[0]
        r[3]=day_return.shift(-2)[pulse].unstack().reset_index()[0]
        r[4]=day_return.shift(-3)[pulse].unstack().reset_index()[0]
        r[5]=day_return.shift(-4)[pulse].unstack().reset_index()[0]
        r['sum']=r.sum(axis=1)-r[0]
        r['sum'][r[5].isna()]=np.nan
        r=r.dropna(how='any')
        d={}
        d['price_range']=(m,n)
        d['dayreturn_range']=(a,b)
        d['count']=len(r)
        d['mean']=r['sum'].mean()
        d['median']=r['sum'].median()
        l.append(d)
df=pd.DataFrame(l)
df

    price_range dayreturn_range  count      mean    median
0      (0, 120)    (0.03, 0.05)    994  0.008562  0.000584
1      (0, 120)    (0.05, 0.08)    264  0.011570 -0.008312
2      (0, 120)    (0.08, 0.12)     67 -0.016960 -0.038092
3      (0, 120)    (0.12, 0.15)     10 -0.060397 -0.083873
4      (0, 120)     (0.15, 0.2)      8 -0.123281 -0.134423
5      (0, 120)       (0.2, 10)      1 -0.116503 -0.116503
6    (120, 150)    (0.03, 0.05)   1534  0.009026 -0.000817
7    (120, 150)    (0.05, 0.08)    622  0.008650 -0.005074
8    (120, 150)    (0.08, 0.12)    209 -0.003121 -0.034021
9    (120, 150)    (0.12, 0.15)     81 -0.003381 -0.064910
10   (120, 150)     (0.15, 0.2)     45 -0.026347 -0.067925
11   (120, 150)       (0.2, 10)     21 -0.051223 -0.076809
12  (150, 5000)    (0.03, 0.05)   1001  0.004239 -0.003778
13  (150, 5000)    (0.05, 0.08)    712  0.007775 -0.003476
14  (150, 5000)    (0.08, 0.12)    379  0.001219 -0.008586
15  (150, 5000)    (0.12, 0.15)    160  0.004383 -0.010804
16  (150, 5000)     (0.15, 0.2)    143 -0.025572 -0.055999
17  (150, 5000)       (0.2, 10)    152 -0.060707 -0.088057